
<header class="header">
    <nav class="nav">
        <button class="menu"></button>
        <ul class="nav-list">
            <li><a href="{% url "monitoring:dashboard" %}"><i class="fa-solid fa-chart-line menu-icon"></i>Dashboard</a></li>
            <li><a href="{% url "monitoring:create_api" %}"><i class="fa-solid fa-plus menu-icon"></i>Criar</a></li>
            <li><a href="{% url "accounts:logout" %}"><i class="fa-solid fa-gear menu-icon"></i>Sair</a></li>
        </ul>
    </nav>
</header>


