{% extends "base.html" %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" href='{% static "styles/form.css" %}'>
{% endblock styles %}

{% block title %}Registrar-se{% endblock title %}

{% block main %}
    <main>
        <section class="form-section">
            <form method="post">
                <h1 id="form-title">Crie sua conta</h1>
                {% csrf_token %}
                {{form}}
                <button id="submit" type="submit">Criar</button>
            </form>
        </section>
    </main>
{% endblock main %}