.button{
    padding: 15px;

    position: fixed;
    right: 25px;
    bottom: 85px;

    border: 1px solid var(--border);

    border-radius: 10px;

    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

    transition: 0.3s 0s ease-in-out;
    
}

.button p {
    color: var(--primary);
}

.button:hover{
    transform: scale(1.1);
    border: 1px solid var(--primary);
}

.del{
    bottom: 25px;
}

.del:hover{
    border: 1px solid #dc2626;
}

.del:hover p {
    color: #dc2626;
}