* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

:root {
    --primary: #4318ff;
    --primary-dark: #3212c7;
    --background: #f4f4f4;
    --border: #dcdcdc;
    --white: #ECE5F0;
}

body{
    height: 100vh;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    background-color: var(--background);
}

form{
    width: 100%;
    max-width: 430px;

    padding: 30px 24px;

    display: flex;
    flex-flow: column nowrap;
    gap: 18px;

    background-color: var(--white);

    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);;
}

h1{
    margin-bottom: 10px;

    color: var(--text);

    font-size: 28px;
    text-align: center;
}

label{
    color: var(--text);
    font-weight: 600;
    font-size: 14px;
}

input{
    width: 100%;

    padding: 12px 14px;
    
    border: 1px solid var(--border);
    border-radius: 16px;

    font-size: 16px;

    outline: none;
}

input:focus{
    border-color: var(--primary);
    box-shadow: 0 0 0 3px rgba(67, 24, 255, 0.12);
}

button{
    width: 100%;

    padding: 13px;

    border: none;
    border-radius: 8px;

    background-color: var(--primary);
    color: var(--white);

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;

    transition: 
        background-color 0.2s ease,
        transform 0.2s ease;
}

button:hover{
    background-color: var(--primary-dark);
}

button:active{
    transform: scale(0.98);
}


@media (min-width: 600px) {
    body {
        padding: 0;
    }

    form {
        padding: 40px 35px;
    }
}