{% extends "monitoring/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "monitoring/styles/menu.css" %}">
{% endblock styles %}

{% block title %}Dashboard{% endblock title %}

{% block header %}
{% include "monitoring/components/menu.html" %}
{% endblock header %}


{% block main %}
    <main>
    <h1>TEST</h1>
        {% for apis in my_apis %}
            <h2>{{ apis.nickname }}</h2>
            <p>{{ apis.api_status }}</p>
        {% endfor %}
        <h1>teste</h1>
    </main>
{% endblock main %}
    

{% block javascript %}
<script defer src="{% static "monitoring/javascript/app.js" %}"></script>
{% endblock javascript %}